body{
    margin: 0px;
}

.header{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.883),rgba(165, 134, 134, 0)), url("./image/background-image.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.9;
}



.logo{
    width: 60px;
    border-radius: 50%;
    padding:10px 30px;
}

.nav-links{
    list-style-type: none;
    display: inline-flex;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}

.links{
    padding: 10px 20px;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    margin-left: 10px;
}

.links:hover{
    color: black;
    background-color: #fff;
}

.active{
    color: black;
    background-color: #fff;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title{
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.header-name{
    margin-bottom: 50px;
    color: white;
    letter-spacing: 1px;
}

.header-button{
    text-decoration: none;
    color: white;
    border: 1px solid #08a9bd;
    padding: 10px 20px;
    background-color: #00bcd4;
    border-radius: 5px;
}

.body-header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.main-body{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #d2d0d014;
    padding-top: 20px;
}

.left-card{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.user-image{
    border-radius: 50%;
    margin-top: 16px;
}

.user-date{
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.right-card{
    width: 300px;
}

.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(189, 192, 192, 0.65);
    margin-bottom: 10px;
}

.contact-title{
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: rgba(63, 128, 128, 0.65);
    padding: 30px 60px 40px 60px;
    margin: 50px 0px;
}

.first-intputs-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    margin-bottom: 30px;

}

.second-intputs-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    text-align: center;
    width: 700px;
    margin-bottom: 30px;
    margin-right: 7px;
    margin-bottom: 80px;
}

.contact-button{
    text-decoration: none;
    color: white;
    background-color: rgb(73, 173, 123);
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
}

.contact-input{
    padding: 5px;
    margin-top: 5px ;
    width: 240px;
    border: 1px solid #739d9d;
}

.label-input-position{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer{
    background-color: rgb(51, 50, 50);
}

.footer-logos{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.facebook-logo{
    border-radius: 50%;
}

.footer-content{
        display: flex;
        justify-content: space-around;
        padding: 40px 0px;
}

.social-logos{
    display: flex;
    align-items: center;
}

.contact-us-footer{
    color: white;
}